@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-nav ms-auto d-none d-lg-inline-flex">
            <div class="dropdown">
                <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="dropdown-item"><a class="nav-link" href="@Url.Action("ReadingHistory", "History")">Lịch sử đọc truyện</a></div>
                    <div class="dropdown-item">
                        @Html.ActionLink("Cài đặt thông tin", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                    </div>
                    <div class="dropdown-item">
                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link", area = "" })
    @Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link", area = "" })
}
