
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="d-inline-block d-flex align-items-center justify-content-xxl-between">
    <h2 class="d-inline-block">TRUYỆN</h2>
    <select onchange="if (this.value) window.location.href=this.value">
        <option value="">Chọn thể loại</option>
        @foreach (var genre in ViewBag.GenreID)
        {
            <option value="@Url.Action("Index", "Home", new { genreId = genre.Value})">@genre.Text</option>
        }
    </select>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Mới cập nhật</h2>
            <div class="row">
                @foreach (var story in Model)
                {
                    <div class="col-md-3 mb-5">
                        <div class="bg-image">
                            <a href="@Url.Action("Details", "Home", new { id = story.StoryID })">
                                <img src="@story.Img" class="img-fluid" alt="Sample" />
                            </a>
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                                <div class="d-flex justify-content-center align-items-center h-100 text-truncate fw-bold">
                                    <a class="text-decoration-none text-white mb-0" style="font-size:0.9rem"
                                        href="@Url.Action("Details", "Home", new { id = story.StoryID })">@story.Title</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
