
@{
    ViewBag.Title = "SearchStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .title-underline a:hover {
        text-decoration: underline;
    }
</style>

<div>
    <h4>Kết quả tìm kiếm của '@ViewBag.Result'</h4>
    <hr class="col-3 mb-4" />
    <div style="font-size: 20px">
        @foreach (var story in Model)
        {
            <div class="d-flex mb-4 title-underline">
                <img src="@story.Img" alt="@story.Title" style="width:150px" />
                <div class="d-flex flex-column justify-content-center mx-4">
                    <a class="nav-link link-dark fw-bold"
                       href="@Url.Action("Details", "Stories", new { id = story.StoryID })"><i class="fa-solid fa-book-open-reader"></i> @story.Title</a>
                    <p><i class="fa-solid fa-pen"></i> <span>Tác giả:</span> @story.Author</p>
                </div>
            </div>
        }
    </div>
</div>

