@model WebsiteDocTruyen.ViewModels.HistoryViewModel
@using WebsiteDocTruyen.Helper
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="d-inline-block"><i class="fa-solid fa-clock-rotate-left"></i> Lịch sử đọc truyện</h2>
    <span onclick="return confirm('Bạn có muốn xoá tất cả lịch sử đọc?')">
        <a href="@Url.Action("DeleteAllHistory", "History")" class="btn btn-danger fa-pull-right">Xoá tất cả</a>
    </span>
    <hr class="col-3" />
    @if (Model.HistoryItems.Count == 0)
    {
        <p>Bạn chưa đọc truyện nào hết!</p>
    }
    else
    {
        <div class="container">
            <div class="row">
                @foreach (var item in Model.HistoryItems)
                {
                    <div class="col-md-3 mb-4" style="max-width:220px">
                        <div class="card-group h-100">
                            <div class="card-body text-center">
                                <a class="card-title text-decoration-none fw-bold text-truncate"
                                   href="@Url.Action("Details", "Stories", new { id = item.StoryID })" style="font-size:16px;">
                                    @item.StoryTitle
                                </a>
                            </div>

                            <div class="position-relative">
                                <img src="@item.StoryImg" class="img-fluid rounded-start book-img" alt="@item.StoryTitle">
                                <span onclick="return confirm('Bạn có muốn xoá lịch sử đọc của truyện @item.StoryTitle?')" 
                                      class="position-absolute" style="top: 0; right: 5px;">
                                    <a href="@Url.Action("DeleteHistory", "History", new { id = item.StoryID })">
                                        <i class="fa-sharp fa-solid fa-delete-left"></i>
                                    </a>
                                </span>
                                <span class="text-bg-success position-absolute"
                                      style="border-radius: 4px; padding: 2px 4px; left: 8px; top: 6px; font-size:14px">
                                    @item.DateRead.ToRelativeDateString()
                                </span>
                            </div>

                            <a class="card-title text-decoration-none text-success text-truncate"
                               href="@Url.Action("Read", "Home", new { storyId = item.StoryID, chapterId = item.ChapterID })">
                                @item.ChapterTitle
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
