@using WebsiteDocTruyen.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Đăng nhập bằng</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Hoặc</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Nhớ mật khẩu
                            </label>
                            <a class="text-danger" style="margin-left:24px" 
                               href="@Url.Action("ForgotPassword", "Account")">Quên mật khẩu?</a>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-3 pt-2">
                        <input type="submit" value="Đăng nhập" class="btn btn-outline-secondary" />
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Bạn không có tài khoản?
                            <a href="@Url.Action("Register", "Account")" class="link-primary">Tạo tài khoản</a>
                        </p>
                    </div>

                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}