@model WebsiteDocTruyen.ViewModels.ChapterViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h3 class="text-center text-uppercase">Thêm chương cho truyện '<span style="color:firebrick">@ViewBag.ChapterTitle</span>'</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.StoryID)

        <div class="form-group">
            <strong>Tên chương</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <strong>Nội dung chương</strong>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", style = "height:300px" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm chương" class="btn btn-sm btn-success" style="margin-right:4px" />
                @Html.ActionLink("Trở về", "Index", "Stories", "Admin", new { @class = "btn btn-sm btn-outline-success" })
            </div>
        </div>
    </div>
}

