@model WebsiteDocTruyen.Models.Story

<style>
    .chapter-list {
        display: flex;
        flex-wrap: wrap;
    }

    .chapter-column {
        width: 50%;
        box-sizing: border-box;
        padding: 0 10px;
    }
</style>

<h2 class="text-uppercase mt-5">Danh sách chương</h2>
<hr class="col-3"/>
<div class="chapter-list">
    <div class="chapter-column">
        @foreach (var chapter in Model.Chapters.Take(25))
        {
            <div class="d-flex">
                @*kiểm tra xem chương có được cập nhật trong vòng 1 tiếng hay không*@
                @if (chapter.TimeUpdate >= DateTime.Now.Subtract(new TimeSpan(0, 1, 0, 0)))
                {
                    <a class="nav-link p-2"
                       href="@Url.Action("Read", "Home", new { storyId = Model.StoryID, chapterId = chapter.ChapterID })">
                        <i class="fa-sharp fa-solid fa-certificate"></i>
                        @chapter.Title
                        <span class="nhap-nhay"> (mới cập nhật)</span>
                    </a>
                }
                else
                {
                    <a class="p-2 nav-link"
                       href="@Url.Action("Read", "Home", new { storyId = Model.StoryID, chapterId = chapter.ChapterID })">
                        <i class="fa-sharp fa-solid fa-certificate"></i>
                        @chapter.Title
                    </a>
                }
            </div>
        }
    </div>
    <div class="chapter-column">
        @foreach (var chapter in Model.Chapters.Skip(25))
        {
            <div class="d-flex">
                @if (chapter.TimeUpdate >= DateTime.Now.Subtract(new TimeSpan(0, 1, 0, 0)))
                {
                    <a class="nav-link p-2"
                       href="@Url.Action("Read", "Home", new { storyId = Model.StoryID, chapterId = chapter.ChapterID })">
                        <i class="fa-sharp fa-solid fa-certificate"></i>
                        @chapter.Title
                        <span class="nhap-nhay"> (mới cập nhật)</span>
                    </a>
                }
                else
                {
                    <a class="p-2 nav-link"
                       href="@Url.Action("Read", "Home", new { storyId = Model.StoryID, chapterId = chapter.ChapterID })">
                        <i class="fa-sharp fa-solid fa-certificate"></i>
                        @chapter.Title
                    </a>
                }
            </div>
        }
    </div>
</div>




