@model WebsiteDocTruyen.Models.Story
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>THÔNG TIN TRUYỆN</h3>
<hr class="col-2" />
<div class="container">
    <div class="row">
        <div class="col-3">
            <img class="rounded-end" src="@Model.Img" alt="Alternate Text" style="display:block; margin-bottom:8px" />
            <p>Tác giả: <span class="text-nowrap">@Model.Author</span></p>
            <p>Thể loại: <span>@String.Join(", ", Model.Genres.Select(g => g.Name))</span></p>
        </div>
        <div class="col-7">
            <h3 class="text-center text-uppercase">@Model.Title</h3>
            <hr />
            @Html.Raw(new MarkdownSharp.Markdown().Transform(Model.Description))
        </div>
    </div>
</div>

<hr />

@Html.Partial("ChapterOfStory")

