@model List<WebsiteDocTruyen.Models.Story>
@using WebsiteDocTruyen.Helper
@{
    ViewBag.Title = "LatestChapterStories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .title-underline a:hover {
        text-decoration: underline;
    }
</style>

<div>
    <h2>Truyện mới cập nhật</h2>
    <hr class="col-3 mb-4" />
    <div style="font-size: 20px">
        @foreach (var story in Model)
        {
            <div class="d-flex mb-4 title-underline">
                <img class="book-img" src="@story.Img" alt="@story.Title" style="width:140px;" />
                <div class="d-flex flex-column justify-content-center mx-4">
                    <a class="nav-link link-dark fw-bold"
                       href="@Url.Action("Details", "Stories", new { id = story.StoryID })"><i class="fa-solid fa-book-open-reader"></i> @story.Title</a>
                    <p><i class="fa-solid fa-pen"></i> <span>Tác giả:</span> @story.Author</p>
                    @if (story.Chapters.Any())
                    {
                        var chapterID = story.Chapters.OrderByDescending(c => c.TimeUpdate).First().ChapterID;
                        <p class="mb-0">
                            Thời gian cập nhật: @story.Chapters.OrderByDescending(c => c.TimeUpdate).First().TimeUpdate.ToRelativeDateString()
                        </p>
                        <a class="nav-link link-primary" href="@Url.Action("Read", "Home", new { storyId = story.StoryID, chapterId = chapterID })">
                            @story.Chapters.OrderByDescending(c => c.TimeUpdate).First().Title
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>